**/node_modules
**/dist
**/out
**/*.tsbuildinfo
**/.DS_Store
**/.idea
**/build
**/uncovered/*.ifc

**/lerna-debug.log
**/coverage
**/results
**/Icon

**/*.g.ts

!**/.gitkeep

# **/packages/ifc*-ts/
examples/ifc/bigFiles/**


**/bin/
**/obj/
